<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>promocoes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label>Cupons de desconto</ion-label>
    <ion-badge color="warning" slot="end">4</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Bonus</ion-label>
    <ion-badge color="warning" slot="end">8</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Link</ion-label>
    <ion-badge color="warning" slot="end">2</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Meus pontos</ion-label>
    <ion-badge color="warning" slot="end">5</ion-badge>
  </ion-item>

</ion-content>